.left-module,
.middle-module {
	float: left;
	margin-right: 70px
}

.right-module {
	float: left
}

#wraper dl {
	width: 252px
}

#wraper dl dt {
	width: 252px;
	height: 69px;
	background: url(http://hearthstone.nos.netease.com/3/v2015/gameguide/title_20171017.png) no-repeat -12px 7px;
	text-indent: -999em
}

#wraper .game-data dt {
	background-position: -9px -66px
}

#wraper .tool-list dt {
	background-position: -9px -211px
}

#wraper .patch-list dt {
	background-position: -9px -137px
}

#wraper .faq-list dt {
	background-position: -14px -286px
}

.game-data,
.patch-list {
	height: 260px
}

.patch-list dd {
	float: left;
	width: 125px
}

#wraper dl dd {
	width: 188px;
	margin: 0 auto;
	height: 28px;
	line-height: 28px;
	border-top: 1px solid #efdba8;
	border-bottom: 1px solid #dac598
}

#wraper dl dd.noline {
	border-top: none
}

#wraper dl dd a {
	font-size: 14px;
	color: #5b4b38
}

#wraper dl dd a:hover {
	text-decoration: none
}

#wraper dl.hero-list dd {
	width: 236px;
	height: 47px;
	line-height: 47px;
	position: relative
}

#wraper dl.hero-list dd .icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: -4px 8px 0 0;
	vertical-align: middle;
	background-image: url(http://hearthstone.nos.netease.com/3/newbie/icon.png);
	background-repeat: no-repeat
}

.hero-icon1 {
	background-position: -1px 0
}

.hero-icon2 {
	background-position: -37px 0
}

.hero-icon3 {
	background-position: -74px 0
}

.hero-icon4 {
	background-position: -111px 0
}

.hero-icon5 {
	background-position: -148px 0
}

.hero-icon6 {
	background-position: -184px 0
}

.hero-icon7 {
	background-position: -221px 0
}

.hero-icon8 {
	background-position: -259px 0
}

.hero-icon9 {
	background-position: -295px 0
}

.middle-module dd a,
.right-module dd a {
	padding: 0 0 0 12px
}

.middle-module dd .icon,
.right-module dd .icon {
	border-color: transparent transparent transparent #150603;
	border-style: solid;
	border-width: 3px;
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 9px 0 0
}

.middle-module dd a:hover .icon,
.right-module dd a:hover .icon {
	border-color: transparent transparent transparent #db6800
}